@import "src/styles/colours";
@import "src/styles/sizes";
@import "src/styles/typography";

.wrapper {
  border-top: 1px solid $playerGrey;
  border-bottom: 1px solid $playerGrey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 15px 15px 20px;

  :active > & {
    border-top: 1px solid $tileGrey;
    border-bottom: 1px solid $tileGrey;
  }
}

.icon {
  height: 30px;
  width: 30px;
  stroke: $elementGrey;
  fill: $elementGrey;

  :hover > & {
    stroke: $bright;
    fill: $bright;
  }
}

.text {
  composes: base-font;
  margin-left: 10px;
  font-size: 14px;

  :hover > & {
    color: $bright;
  }
}