@import "src/styles/typography";
@import "src/styles/colours";

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.text {
  composes: spaced;
  font-size: 10px;
  margin-bottom: 10px;
}

.itemText {
  composes: base-font;
  font-size: 12px;
  margin-bottom: 18px;
  text-decoration: none;

  &:hover {
    color: $bright;
  }
}

.itemTextBold {
  composes: itemText;
  font-weight: bold;
}
