@import "src/styles/colours";
@import "src/styles/typography";

.wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  width: 100%;
}

.artwork {
  height: 200px;
  width: 200px;
}

.infoWrapper {

}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.controls {
  margin-top: 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.metaWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  min-width: 290px;
}

.typeText {
  composes: spaced;
  font-size: 11px;
  color: $bright;
}

.followers {
  composes: spaced;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  line-height: 1.5;
}

.titleText {
  composes: base-font;
  font-size: 40px;
  color: $bright;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 15px;
}

.subText {
  composes: base-font;
  font-size: 13px;
}

.description {
  composes: subText;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
}

.userText {
  composes: subText;
  color: $bright;
}

.playButton {
  margin-right: 15px;
  border-radius: 50px;
  width: 95px;
  height: 28px;
  composes: base-font;
  color: $bright;
  background-color: $elementGreen;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  stroke: $bright;
  fill: $bright;
  height: 16px;
  width: 16px;
}

.circleWrapper {
  height: 28px;
  width: 28px;
  margin-right: 15px;
}

.userText {
  composes: subText;
  color: $bright;
}

