@import "src/styles/sizes";

.wrapper {
  padding: 30px 26px 0;
  display: flex;
  flex-direction: column;
  height: $navHeight;
}

.navItem {
  margin-bottom: 10px;
}

.scrollableContent {
  overflow: scroll;
}