$sidebarBlack: #000000;
$playerGrey: #282828;
$tileGrey: #181818;
$elementGreen: #1CB954;
$elementGrey: #B3B3B3;
$selectedGrey: #282828;
$bright: #ffffff;
$gradientStart: #404040;
$gradientEnd: #181818;