@import "src/styles/colours";
@import "src/styles/sizes";

.wrapper {
  height: $footerHeight;
  max-height: $footerHeight;
  min-height: $footerHeight;
  background-color: $playerGrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}