@import "src/styles/typography";
@import "src/styles/colours";

.table {
  width: 100%;
  text-align: left;
  composes: base-font;
  font-size: 13px;
  color: $bright;
}

.icon {
  height: 18px;
  width: 18px;
  stroke: $elementGrey;
  fill: $elementGrey;
}

.td {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu {
  composes: td;
  visibility: hidden;
  :hover > & {
    visibility: visible;
  }
}

.th {
  composes: td;
  align-items: flex-end;
  margin-bottom: 10px;
}

.row {
  border-bottom: 1px solid $playerGrey;
  display: grid;
  gap: 10px;
  min-height: 40px;
  max-height: 40px;
  padding-left: 20px;
}

.songRow {
  &:hover {
    background-color: $playerGrey;
  }
}

.playlistRow {
  composes: row;
  grid-template-columns: [index] 30px [like] 30px [title] 2fr [artist] 2fr [album] 2fr [date] 100px [menu] 70px [time] 40px
}

.albumRow {
  composes: row;
  grid-template-columns: [index] 30px [like] 30px [title] 4fr [menu] 70px [time] 40px [popularity] 40px
}

.thead {
  composes: spaced;
  font-size: 11px;
}